@import '~theme/variables.scss';

.menu {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;

  &__button {
    display: flex;
    padding: 0.4rem 0.6rem;
    border: 1px solid $white;
    border-radius: 0.3rem;
    background-color: $black;

    @include media-breakpoint-up($sm) {
      display: none;
    }

    &:hover {
      background-color: $golden;
    }

    & svg {
      width: 2.5rem;
    }
  }

  &__list {
    display: none;

    @include media-breakpoint-up($sm) {
      display: flex;
    }

    @include media-breakpoint-down($sm) {
      &_open {
        position: absolute;
        z-index: 10;
        top: 100%;
        right: -2rem;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
        background-color: $black;
      }

      &_direction_down {
        top: 100%;
        bottom: auto;
      }

      &_direction_up {
        top: auto;
        bottom: 100%;
      }
    }
  }

  &__item {
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    font-size: 1.16rem;

    &:hover {
      color: $golden;
    }
  }
}
