@import '~theme/variables.scss';

.request-call-button {
  padding: 1.08rem 2.75rem;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  background-color: $color-second;
  font-size: 1rem;

  &:hover {
    background-color: $color-second-active;
  }
}
