.form {
  &__title {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-transform: none;
    color: white;
    font-family: 'YesevaOne', serif;
    font-size: 1.5rem;
    line-height: 1.38;
  }

  &__form {
    margin: 0 auto;
  }

  &__agreement {
    margin-top: 1.33rem;
  }

  &__submit-button {
    margin-top: 3.33rem;
    text-align: right;
  }
}
