@import '~theme/variables.scss';

.tabs {
  display: flex;
  justify-content: space-between;

  &__tab-button {
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.3;
    color: white;
    border: none;
    background: none;
    font-family: 'YesevaOne', serif;
    font-size: 1.16rem;
    line-height: 1.38;

    &:hover {
      opacity: 1;
      color: $color-second;
    }
  }

  &__tab {
    &_align_vertical {
      margin-bottom: 1.83rem;
    }
  }

  &_align_vertical {
    flex-direction: column;
    margin-bottom: 1.83rem;
    align-items: start;
  }

  &__tab_active &__tab-underline {
    background-color: $color-second;
  }

  &__tab_active &__tab-button {
    opacity: 1;
    color: $color-second;
  }

  &__tab-underline {
    height: 1px;
  }
}
