@import '~theme/variables.scss';

.completed-project {
  display: flex;

  @include media-breakpoint-down($md) {
    display: block;
  }

  &__title {
    display: block;

    @include media-breakpoint-down($md) {
      text-align: center;
    }
  }

  &__note {
    margin-top: 2.5rem;

    @include media-breakpoint-down($md) {
      text-align: center;
    }
  }

  &__description {
    width: 36.8%;
    margin-right: 3.91%;

    @include media-breakpoint-down($lg) {
      /* doiuse-disable */
      width: calc(36.8% - 2rem);
      margin-left: 2rem;
    }

    @include media-breakpoint-down($md) {
      width: 80%;
      margin: 3rem auto 0;
    }
  }

  &__properties {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.58rem;
    color: white;
  }

  &__property {
    width: 50%;
    margin-bottom: 4rem;
    padding-right: 5%;
  }

  &__preview {
    width: 56.58rem;

    @include media-breakpoint-down($lg) {
      width: 48.58rem;
    }

    @include media-breakpoint-down($md) {
      width: 46.58rem;
      margin: 0 auto;
    }

    @include media-breakpoint-down($xs) {
      width: 36.58rem;
      margin: 0 auto;
    }
  }

  &__image {
    height: 40.16rem;
  }
}
