@import '~theme/variables.scss';

.any-questions {
  &__inner {
    width: 100%;
    max-width: 68rem;
    margin: 0 auto;
  }

  &__form {
    padding: 4rem 6rem;
    background-color: $black;
  }
}
