include ../form/form

mixin anyQuestions()
  section.any-questions
    .any-questions__inner
      .any-questions__form
        +form({ title: 'Have any questions? Leave your phone and we will call you', name: 'any-questions'})


      