extends ../base/base
include ../../components/preview/preview
include ../../components/modal/modal
include ../../components/requestCallForm/requestCallForm
include ../../components/completedProjects/completedProjects
include ../../components/onlineControl/onlineControl
include ../../components/typesOfRepair/typesOfRepair
include ../../components/aboutMeasurement/aboutMeasurement
include ../../components/gallery/gallery


block variables
  -
    var data = { 
      projects: [
        {
          id: 1,
          title: 'Rostov-on-Don, Admiral',
          properties: [
            {title: 'city', subtitle: 'Rostov-on-Don LCD admiral'}, 
            {title: 'apartment area', subtitle: '81 m2'},
            {title: 'repair time', subtitle: '3.5 months'},
            {title: 'repair cost', subtitle: 'Upon request'}
          ],
          images: [
            require('./imgs/slide1.png'),
            require('./imgs/slide3.png'),
            require('./imgs/slide4.png'),
          ]
        },
        {
          id: 2,
          title: 'Sochi Thieves',
          properties: [
            {title: 'city', subtitle: 'Sochi'}, 
            {title: 'apartment area', subtitle: '43 m2'},
            {title: 'repair time', subtitle: '2 months'},
            {title: 'repair cost', subtitle: 'Upon request'}
          ],
          images: [
            require('./imgs/slide2.png'),
            require('./imgs/slide3.png'),
            require('./imgs/slide4.png'),
          ]
        },
        {
          id: 3,
          title: 'Rostov-on-Don Patriotic',
          properties: [
            {title: 'city', subtitle: 'Rostov-on-Don'}, 
            {title: 'apartment area', subtitle: '61 m2'},
            {title: 'repair time', subtitle: '2.5 months'},
            {title: 'repair cost', subtitle: 'Upon request'}
          ],
          images: [
            require('./imgs/slide1.png'),
            require('./imgs/slide2.png'),
            require('./imgs/slide4.png'),
          ]
        }
      ],
      typesOfRepair: [
        {
          image: require('./imgs/type1.png'),
          title: 'Redecorating',
          minCostPerMeter: 900,
          options: [ 'Dismantling of old coatings', 'Wallpapering', 'Painting walls and ceilings', 'Laying flooring', 'Replacing plumbing', 'Replacing sockets and switches', 'Replacing doors']
        },
        {
          image: require('./imgs/type2.png'),
          title: 'Overhaul',
          minCostPerMeter: 1800,
          options: [ 'Dismantling of old coatings', 'Wallpapering', 'Painting walls and ceilings', 'Laying flooring', 'Replacing plumbing', 'Replacing sockets and switches', 'Replacing doors']
        },
        {
          image: require('./imgs/type3.png'),
          title: 'Designer Repair',
          minCostPerMeter: 4000,
          options: [ 'Dismantling of old coatings', 'Wallpapering', 'Painting walls and ceilings', 'Laying flooring', 'Replacing plumbing', 'Replacing sockets and switches', 'Replacing doors']
        }
      ],
      styles: [
        {
          title: 'American classic',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Empire',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Classical',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Loft',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Minimalism',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Provence',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Romanticism',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Scandinavian style',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Mediterranean style',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'High tech',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        },
        {
          title: 'Eclecticism',
          images: [
            require('./imgs/style1.png'),
            require('./imgs/style2.png'),
            require('./imgs/style3.png'),
            require('./imgs/style4.png'),
          ]
        }
      ]
    }

block title
  | Repair design project

block main
  .index
    +preview()
    +modal('request-call')
      +requestCallForm()
    .index__completed-projects
      .index__background.index__background_color_black
      .index__background-lines.index__background-lines_color_white
      .index__background-city
      +completedProjects(data.projects)
    .index__online-control
      .index__background-lines.index__background-lines_color_black
      +onlineControl()
      +typesOfRepair(data.typesOfRepair)
    .index__about-measurement  
      +aboutMeasurement()
    .index__gallery 
      +gallery(data.styles)