extends ../base/base
include ../../components/preview/preview
include ../../components/requestCallForm/requestCallForm

block variables

block title
  | Repair design project

block main
  +preview()
  +requestCallForm()