block variables
  -
    var data = { 
      projects: [
        {
          id: 1,
          title: 'Rostov-on-Don, Admiral',
          properties: [
            {title: 'city', subtitle: 'Rostov-on-Don LCD admiral'}, 
            {title: 'apartment area', subtitle: '81 m2'},
            {title: 'repair time', subtitle: '3.5 months'},
            {title: 'repair cost', subtitle: 'Upon request'}
          ]
        },
        {
          id: 2,
          title: 'Sochi Thieves',
          properties: [
            {title: 'city', subtitle: 'Sochi'}, 
            {title: 'apartment area', subtitle: '43 m2'},
            {title: 'repair time', subtitle: '2 months'},
            {title: 'repair cost', subtitle: 'Upon request'}
          ]
        },
        {
          id: 3,
          title: 'Rostov-on-Don Patriotic',
          properties: [
            {title: 'city', subtitle: 'Rostov-on-Don'}, 
            {title: 'apartment area', subtitle: '61 m2'},
            {title: 'repair time', subtitle: '2.5 months'},
            {title: 'repair cost', subtitle: 'Upon request'}
          ]
        }
      ]
    }