@import '~theme/variables.scss';

.index {
  width: 100%;

  &__online-control {
    position: relative;
    width: 100%;
    margin-top: -27.16rem;
  }

  &__background_color_black {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $black;
  }

  &__background-lines {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &__completed-projects {
    position: relative;
    width: 100%;
  }

  &__about-measurement {
    margin: 8.75rem 0 9.75rem;

    @include media-breakpoint-down($md) {
      display: none;
    }
  }

  &__gallery {
    margin: 20.25rem 0 12.5rem;

    @include media-breakpoint-down($md) {
      display: none;
    }
  }

  &__design-projects {
    position: relative;
    width: 100%;
  }

  &__design-projects-margin {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-top: 45rem;
  }

  &__team {
    margin-top: 4rem;
  }

  &__contacts-margin {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% - 16rem);
    margin-top: -20rem;
  }

  &__contacts {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
  }
}
