mixin preview(options)
  if !options
    - options = {}

  section.preview
    .preview__background
    .preview__shadow
    .preview__content-wrapper
      .preview__content
        .preview__content-inner
          h1.preview__title Turnkey Repair in the <br> city of 
            span.preview__golden-title Rostov-on-Don
          p.preview__description Get ready-made turnkey repairs on time <br> with work time saving up to 45 days and 20% from <br> cost of materials due to the organization of work
