@import '~theme/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: $color-second;
}

html {
  font-family: 'FuturaBookC', sans-serif;
  font-size: 8px;

  @include media-breakpoint-up($xxs) {
    font-size: 10px;
  }

  @include media-breakpoint-up($xs) {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'FuturaDemiC', sans-serif;
}
