@import '~theme/variables.scss';

.online-control {
  width: 100%;

  &__inner {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 2.58rem;
  }

  &__video {
    width: 68%;
    height: 36.16rem;
    margin: 0 auto 5.25rem;

    @include media-breakpoint-down($md) {
      height: 26.16rem;
    }
  }

  &__description {
    width: 56.85%;
    margin: 0 auto 8.83rem;
  }
}
