include ../sectionTitle/sectionTitle
include ../uVideo/uVideo
include ../additionalDescription/additionalDescription

mixin onlineControl()
  section.online-control
    .online-control__inner
      .online-control__title
        +sectionTitle({text: 'Online control', theme: 'white', icon: 'camera'})
      .online-control__video
        +uVideo('https://www.youtube.com/embed/FJoNWPzSF6w?autoplay=1', require('components/onlineControl/imgs/cover.png'))
      .online-control__description
        +additionalDescription({
          text: 'Each employee of our company is a qualified full-time specialist with work experience of 6 years. We do not have laborers and guest workers, each employee carries out work corresponding to his specialty.', 
          theme: 'black',
          withLine: true
        })
