-
  locals.menuItems = [
    {
      name: 'projects',
      href: '#index__design-projects'
    }, {
      name: 'team',
      href: '#index__team'
    }, {
      name: 'reviews',
      href: '#index__clients'
    }, {
      name: 'contacts',
      href: '#index__contacts'
    }
  ]