-
  locals.menuItems = [
    {
      name: 'projects',
      href: '/under-construction.html'
    }, {
      name: 'team',
      href: '/under-construction.html'
    }, {
      name: 'reviews',
      href: '/under-construction.html'
    }, {
      name: 'contacts',
      href: '/under-construction.html'
    }
  ]