@import '~theme/variables.scss';

.header {
  display: flex;
  flex: 1 0 auto;
  padding: 1rem 2rem 1rem 0;
  font-family: 'FuturaBookC', sans-serif;
  align-items: center;

  @include media-breakpoint-down($md) {
    padding: 1rem 2rem;
  }

  .header__logo {
    flex: 0 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    color: $golden;
    font-family: 'FuturaDemiC', sans-serif;
    font-size: 1.16rem;

    @include media-breakpoint-between($md, $lg) {
      margin-left: 2rem;
    }
  }

  .header__menu {
    flex: 1 0 auto;
    padding-left: 1rem;
  }

  &__phone {
    padding: 1rem 4rem;
    text-align: center;
    text-decoration: none;
    text-decoration: underline;
    text-transform: uppercase;
    color: $golden;
    background-color: $black;
    font-size: 1.16rem;

    &:hover {
      color: $golden-active;
    }

    @include media-breakpoint-down($md) {
      display: none;
    }
  }

  &__request-call {
    @include media-breakpoint-down($md) {
      display: none;
    }
  }
}
