@import '~theme/variables.scss';

.social-icon {
  display: flex;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-second;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-second-active;
  }
}
