@import '~theme/variables.scss';

.property {
  &__title {
    text-transform: uppercase;
    color: $color-second;
    font-family: 'YesevaOne', serif;
    font-size: 1.5rem;
    line-height: 1.38;
  }

  &__subtitle {
    margin-top: 0.83rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
