@import '~theme/variables.scss';

.completed-projects {
  position: relative;
  width: 100%;
  background-color: black;

  &__tabs {
    width: 51.91rem;
    margin: 0 0 0 40.5rem;
    padding: 8.33rem 0 3.66rem;
  }

  &__tabs-contents {
    display: flex;
  }

  &__inner {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding-bottom: 34.58rem;
  }

  &__background-city {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: bottom repeat-x url(./imgs/Frame.png);
  }

  &__background-lines {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(./imgs/BACKGROUND-LINE.png);
  }
}
