@import '~theme/variables.scss';

.completed-projects {
  position: relative;
  width: 100%;

  &__tabs {
    width: 51.91%;
    margin: 0 0 0 40.5%;
    padding: 8.33rem 0 3.66rem;

    @include media-breakpoint-down($lg) {
      width: 48.58rem;
    }

    @include media-breakpoint-down($md) {
      display: none;
    }
  }

  &__inner {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding-bottom: 34.58rem;
  }
}
