@import '~theme/variables.scss';

.client-card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);

  &__main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    padding-bottom: 0;
    align-items: center;
  }

  &__photo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
  }

  &__name {
    width: 60%;
    padding-left: 2rem;
    font-family: 'YesevaOne', serif;
    font-size: 1.5rem;
    line-height: 1.27;
  }

  &__feedback {
    width: 100%;
    margin-top: 1.6rem;
    color: #959595;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__labels {
    position: relative;
    bottom: -2.1rem;
    display: flex;
  }

  &__label {
    display: flex;
    height: 4.5rem;
    margin-right: 1px;
    padding: 0 1.4rem;
    text-transform: uppercase;
    color: $white;
    background-color: $golden;
    font-family: 'YesevaOne', serif;
    font-size: 1.5rem;
    align-items: center;
  }

  &__icon {
    margin-right: 1.5rem;
  }
}
