@import '~theme/variables.scss';

.additional-description {
  &__short-line {
    width: 4.58rem;
    height: 2px;
    margin: 0 auto 3rem;
    background-color: $golden;
  }

  &__text {
    width: 100%;
    text-align: center;
    font-size: 1.66rem;
    line-height: 1.5;
  }

  &__text_theme_white {
    color: $white;
  }
}
